{% load static %}
<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Open  March</title>
    <meta name="description" content="Descreva de forma concisa e atraente o conteúdo desta página para os mecanismos de busca e usuários. Inclua palavras-chave relevantes.">
    <meta name="keywords" content="palavra-chave1, palavra-chave2, palavra-chave3, seo, 2025, seu nicho">
    <meta name="robots" content="index, follow">
    <link rel="canonical" href="https://www.seusite.com/sua-pagina">

    <meta property="og:title" content="Seu Título da Página - Otimizado para SEO em 2025">
    <meta property="og:description" content="Descreva de forma concisa e atraente o conteúdo desta página para os mecanismos de busca e usuários. Inclua palavras-chave relevantes.">
    <meta property="og:image" content="https://www.seusite.com/imagens/capa-da-pagina.jpg">
    <meta property="og:url" content="https://www.seusite.com/sua-pagina">
    <meta property="og:type" content="website">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Seu Título da Página - Otimizado para SEO em 2025">
    <meta name="twitter:description" content="Descreva de forma concisa e atraente o conteúdo desta página para os mecanismos de busca e usuários. Inclua palavras-chave relevantes.">
    <meta name="twitter:image" content="https://www.seusite.com/imagens/capa-da-pagina.jpg">

    <link rel="stylesheet" href="{% static 'omWeb/css/global.css' %}">
    <link rel="stylesheet" href="{% static 'omWeb/css/mobile.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" >
</head>
<body>

    <header>
        <nav>
            <div class="logo">Open <span>March</span></div>
           <div class="mene">
            <a href="{% url 'index' %}" class="active">Home</a>
            <a href="{% url 'about_us' %}">Sobre nós</a>
            <a href="{% url 'servicesProduct' %}">Produtos e Serviços</a>
            <a href="{% url 'localizacao' %}">Onde estamos</a>
           </div>
            
        </nav>
    </header>
    <main>
        {% block conteudo %}
        {% endblock %}
    </main>

    
<footer>
    <h1>Open March</h1> 
    <p>&copy;2025, Todos os diretos reservados - Academia Dev</p>
</footer>

   
    <script src="{% static 'omWeb/js/global.js' %}"></script>
    
</body>
</html>