
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --cor1:#F0F1F3;
    --cor2:#F5F5F5;
    --cor3:#FF4500;
    --cor4:#14ff72cb;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body{
    overflow-x: hidden;
    background-color: var(--cor1);
}
a{
    text-decoration: none;
}
h1{
    margin: 50px 0 10px 30px;
    font-size: 2rem;
    color: var(--cor3);
}

/*                                   header section                        */
header{
    width: 1140px;
    max-width: 80%;
    margin: auto;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 400;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 2px 2px 5px #0004;
}
header nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: var(--cor2);
}
nav .logo{
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 2px;
    color:var(--cor2);
}
nav .logo span{
   color: var(--cor3);
}
header nav a{
    color: #000;
    margin-right: 5px;
    padding: 5px 10px;
    font-size: 18px;
    transition: 0.2s;
    font-weight: 500;
}
header nav a:active, header nav a:hover{
        background: var(--cor4);
        border-radius: 2px;
    }
    



/*                                  slider section                        */

.slider{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    margin-top: -50px;
}
.slider .list .item{
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0 0 0 0;
}
.slider .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider .list .item .content{
   position: absolute;
   top: 20%;
   width: 1140px;
   max-width: 80%;
   left: 50%;
   padding-right: 30%;
   box-sizing: border-box;
   color: #fff;
   text-shadow: 0 5px 10px #0004 ;
   transform: translate(-50%);
}
.slider .list .item .content .title, 
.slider .list .item .content .type{
    font-size: 5rem;
    font-weight: bold;
    line-height: 120%;

}
.slider .list .item .content .type{
    color: var(--cor4);
}
.slider .list .item .content .desc{
    font-size: 20px;
    color: var(--cor2);
}
.slider .list .item .content .btn{
    margin-top: 20px;
}
.slider .list .item .content .btn button{
    border: none;
    background-color: var(--cor2);
    font-weight: 500;
    cursor: pointer;
    letter-spacing: 2px;
    transition: 0.4s;
    padding: 7px 4px;
}
.slider .list .item .content .btn button:hover{
    background-color: var(--cor4);
    color: var(--cor2);
}



/*                                   thumbnail section                        */


.thumbnail{
    display: flex;
    gap: 20px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: max-content;
    z-index: 100;

}
.thumbnail .item{
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
}
.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3);
}









/* nextPrevArrows section */

.nextPrevArrows{
    position: absolute;
    top: 80%;
    right: 52%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}
.nextPrevArrows button{
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--cor4);
    color: var(--cor2);
    font-family: monospace;
    cursor: pointer;
    transition: 0.5s ;
    
}
.nextPrevArrows button:hover{
    background-color: var(--cor2);
    color: #000;
}

/* animation par */

.slider .list .item:nth-child(1){
    z-index: 1;
}
.slider .list .item:nth-child(1) .content .title,
.slider .list .item:nth-child(1) .content .type,
.slider .list .item:nth-child(1) .content .desc,
.slider .list .item:nth-child(1) .content .btn{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 0.5s 1s linear forwards;
}
@keyframes showContent{
    to{
    transform: translateY(0px);
    filter: blur(00px);
    opacity: 1; 
    }

}
.slider .list .item:nth-child(1) .content .title{
    animation-delay: 0.4s;
}
.slider .list .item:nth-child(1) .content .type{
    animation-delay: 0.6s;
}
.slider .list .item:nth-child(1) .content .desc{
    animation-delay: 0.8s;
}
.slider .list .item:nth-child(1) .content .btn{
    animation-delay: 1s;
}


/* animation for next button click */

.slider.next .list .item:nth-child(1) img{
    width: 150px;
    height: 220px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 30px;
    animation: showImage 0.5s  linear forwards;

}
@keyframes showImage {
    to{
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
    
}

.slider.next .thumbnail .item:nth-last-child(1){
    overflow: hidden;
    animation: showThumbnail 0.5s linear 1 forwards;
}
.slider.prev .list .item img{
    z-index: 100;
}
@keyframes showThumbnail{
    from{
        width: 0;
        opacity: 0;
    }
}

.slider.slider.next .thumbnail{
    animation: efectNext 0.5s linear 1 forwards;
}
@keyframes efectNext{
    from{
        transform: translateX(150px);
    }
}

/* animation for prev button click */

.slider.prev .list .item:nth-child(2){
    z-index: 2;
}
.slider.prev .list .item:nth-child(2) img{ 
    position: absolute;
    bottom: 0;
    left: 0;
    animation: outFrame 0.5s linear 1 forwards;
}
@keyframes outFrame{
    to{
        width: 150px;
        height: 150px;
        bottom: 50px;
        left: 50%;
        border-radius: 20px;
    }
}

.slider.prev .thumbnail .item:nth-child(1){
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail .5s linear 1 forwards ;
}


.slider.prev .list .item:nth-child(1) .content .title,
.slider.prev .list .item:nth-child(1) .content .type,
.slider.prev .list .item:nth-child(1) .content .desc,
.slider.prev .list .item:nth-child(1) .content .btn{
    animation: contentOut 0.5s 1s linear forwards;
}
@keyframes contentOut{
    to{
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}

@media screen and (max-width:678px) {
    .slider .list .item .content{
        padding-right: 0;
    }
    .slider .list .item .content .title{
        font-size: 30px;
    }
    
}




/* estilos para card servicos */

.servicos{
        
    width: 100%;
    max-width: 1160px;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin: 30px auto;
    flex-wrap: wrap;
    /* animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 30%; */
    


}
.servicos .servicos_card{
    width: 370px;
    height: auto;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 30%;
    background-color: var(--cor2);

    
    margin-top: 20px;
    padding: 10px;
    box-shadow: 2px 2px 5px #0004;
}
.servicos .servicos_card:hover{
    transform: translateY(-30px);
    transition: ease-out 0.5s;
    box-shadow: 2px 20px 5px #0004;
   


}
.servicos .servicos_card img{
    width: 100%;
    object-fit: cover;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;

    

}
.servicos .servicos_card .title{
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 2px;
    margin-block: 7px;
    color:var(--cor3);
}
@keyframes appear{
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}





/* section for itens to sell */
.produto{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    max-width: 1389px;
    margin: 0 auto;
    
}
.produto .produto_card{
    max-width: 600px;
    width: 100%;
    height: auto;
    margin-top: 40px;
    padding: 10px 0;
    animation: showProduto linear;
    animation-timeline: view();
    animation-range: entry 0 cover 30%;
}
.produto .produto_card img{
    width: 100%;
    /* height: 400px; */
    object-fit: cover;
   
}
.produto .produto_card .content{
    width: 100%;
    padding: 20px 7px;
    height: auto;
   
}
.produto .produto_card .content .titulo{
    font-size: 1.7rem;
    margin-bottom: 10px;
    color: var(--cor3);
}

@keyframes showProduto{
    from{
        opacity: 0;
        scale: 0.5;
        margin-left: -600px;
    }
    to{
        opacity: 1;
        scale: 1;
        margin-left: 0;
    }
}
                                            /* section to build style using css */

footer{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    background-color: rgba(0, 132, 255, 0.952);
    flex-wrap: wrap;

}
footer h1{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}
footer p{
    color: var(--cor2);
}





/* section to build call_back style */


.atendimentos_all{
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: var(--cor2);
}
.atendimentos_all .title{
    padding: 20px;
    margin-bottom: 25px;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 30%;
}
.atendimentos_all .title .p1{
    font-weight: 600;
    font-size: 1.2rem;
    margin: 10px;
    color: var(--cor3);
}
.atendimentos_all .title .p2{
    font-weight: bold;
    font-size: 3rem;
    text-transform: uppercase;
    margin: 10px;
    color: var(--cor4);
}
.atendimentos_all .atendimentos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px 90px;
    flex-wrap: wrap;
}
.atendimentos .atendimentos_card{
    width: 300px;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 30%;
    display: flex;
    flex-direction: column;
}
.atendimentos_card .titulo{
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 7px;
    text-transform: uppercase;
    color: var(--cor4);
    width: 50%;
}
.atendimentos_card .desc{
    font-size: 0.8rem;   
}
.atendimentos_card .icon{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.atendimentos_card .icon i{
    padding: 7px;
    font-size: 5rem;
    width: 47%;
    display: flex;
    justify-content: center;
    margin-bottom: 6px;
    color: var(--cor2);
}
.atendimentos_card .icon i:nth-child(1){
    background-color: var(--cor4);

}
.atendimentos_card .icon i:nth-child(2){
    background-color: var(--cor3);

}
.atendimentos_card .icon i:nth-child(3){
    background-color: var(--cor5);

}

/* section to buiid about us style css */

.about_usNome{
    font-size: 2.3rem;
    text-transform: uppercase;
    margin:10px 15px ;
    color: var(--cor3);
}


/* section to buiid where are we style css */

.coverLocal{
    width: 93%;
    height: calc(100vh - 70px);
    background-color: #000;
    margin: 10px auto;
    border-radius: 30px;
    position: relative;
}
.coverLocal img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
    opacity: 0.3;
    
}
.coverLocal .text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.coverLocal .text .p1{
    font-size: 3rem;
    color: var(--cor4);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    animation:  letterApear 2s linear 1 forwards;
}
.coverLocal .text .p2{
    color: var(--cor2);
    text-transform: uppercase;
    
    letter-spacing: 2px;
    animation:  letterApear 3s linear 1 forwards;
}
@keyframes letterApear{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}

.all_local{
    max-width: 1220px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 25px 0;
    
}
.all_local .localCard{
    width: 320px;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 5px #0004;
    background-color: var(--cor2);
    margin-top: 25px;
    animation: showProduto linear;
    animation-timeline: view();
    animation-range: entry 0 cover 30%;
}
.localCard a{
    color: var(--cor5);
    text-decoration: none;
}
.localCard a i{
    font-size: 4rem;
    margin: 10px 0;
}
.descricao, .formulario{
    max-width: 1220px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding: 50px 0;
    animation: showProduto linear;
    animation-timeline: view();
    animation-range: entry 0 cover 30%;
}
.descricao img{
    width: 400px;
    height: 400px;
}
.descricao .text{
    width: 600px;
    padding-inline: 10px 15px;
}

.formulario form{
    
    width: 500px;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    width: 70%;
}
.formulario form .input_nome{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    flex-wrap: wrap;
}
.formulario form .input_nome input{
   width: 400px;
   padding: 10px 5px;
   border: none;
   box-shadow: inset 2px 2px 5px #0004;
   margin-top: 10px;
}
input[type = "email"]{
    padding: 10px 5px;
    border: none;
    box-shadow: inset 2px 2px 5px #0004;
    margin-bottom: 10px;

}
.formulario form textarea{
    box-shadow: inset 2px 2px 5px #0004;
    height: 150px;
    border: none;
    background-color: var(--cor2);
    padding: 10px 5px;
    margin-bottom: 10px;
    background-color: var(--cor2);
}
::placeholder{
    color: rgb(124, 124, 124);
    font-size: 15px;
}
input[type = "submit"]{
    padding: 10px 5px;
    border: none;
    box-shadow: inset 2px 2px 5px #0004;
    margin-bottom: 10px;
    width: 100px;
    background-color: var(--cor3);
    cursor: pointer;
    font-weight: bold;
    transition: 0.5s;

}
input[type = "submit"]:hover{
    background-color: var(--cor4);
    color: var(--cor2);
}
