{% extends 'partials/base.html' %}

{% block conteudo %}

  <!-- divi para Produtos -->
  <h1>Produtos</h1>


  <div class="produto">



      <div class="produto_card">
          <img src="img/p3.jpg" alt="">
          <div class="content">
              <p class="titulo">Switch 24 portas</p>
              <p class="desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro, atque quos. Optio
                  libero doloremque minus, incidunt laudantium eligendi quo tempore eveniet, eius fugiat veritatis
                  inventore ratione totam illo id temporibus?</p>
          </div>
      </div>
      <div class="produto_card">
          <img src="img/p5.jpg" alt="">
          <div class="content">
              <p class="titulo">Teclado Retro-luminoso</p>
              <p class="desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro, atque quos. Optio
                  libero doloremque minus, incidunt laudantium eligendi quo tempore eveniet, eius fugiat veritatis
                  inventore ratione totam illo id temporibus?</p>
          </div>
      </div>
      <div class="produto_card">
          <img src="img/p6.jpg" alt="">
          <div class="content">
              <p class="titulo">Kit Gamer</p>
              <p class="desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro, atque quos. Optio
                  libero doloremque minus, incidunt laudantium eligendi quo tempore eveniet, eius fugiat veritatis
                  inventore ratione totam illo id temporibus?</p>
          </div>
      </div>
      <div class="produto_card">
          <img src="img/p2.jpg" alt="">
          <div class="content">
              <p class="titulo">Cabo Par Trançado</p>
              <p class="desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro, atque quos. Optio
                  libero doloremque minus, incidunt laudantium eligendi quo tempore eveniet, eius fugiat veritatis
                  inventore ratione totam illo id temporibus?</p>
          </div>
      </div>
  </div>



  <!-- divi para serviços -->

  <h1>Serviços</h1>
  <div class="servicos">
      <div class="servicos_card">
          <img src="img/1.jpg" alt="">
          <div class="title">Titulo</div>
          <div class="desc">Essa é uma descrição
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas repudiandae harum repellat iusto
              corrupti quaerat cum, vel ea, voluptatibus corporis cupiditate nemo unde quasi, dicta hic eveniet
              maiores voluptatem magni?
          </div>
      </div>
      <div class="servicos_card">
          <img src="img/2.jpg" alt="">
          <div class="title">Titulo</div>
          <div class="desc">Essa é uma descrição
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, nam quae officiis fugiat
              blanditiis, magni nulla est ullam molestias atque tempora laboriosam. Molestias ipsa doloremque
              voluptate tenetur autem expedita tempora?
          </div>
      </div>
      <div class="servicos_card">
          <img src="img/3.jpg" alt="">
          <div class="title">Titulo</div>
          <div class="desc">Essa é uma descrição
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea cum nulla debitis cupiditate recusandae
              non? Expedita vitae soluta laborum dicta quas sunt debitis ipsum, in cupiditate, dolores illum
              omnis. Alias?
          </div>

      </div>
      <div class="servicos_card">
          <img src="img/3.jpg" alt="">
          <div class="title">Titulo</div>
          <div class="desc">Essa é uma descrição
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea cum nulla debitis cupiditate recusandae
              non? Expedita vitae soluta laborum dicta quas sunt debitis ipsum, in cupiditate, dolores illum
              omnis. Alias?
          </div>

      </div>
      <div class="servicos_card">
          <img src="img/3.jpg" alt="">
          <div class="title">Titulo</div>
          <div class="desc">Essa é uma descrição
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea cum nulla debitis cupiditate recusandae
              non? Expedita vitae soluta laborum dicta quas sunt debitis ipsum, in cupiditate, dolores illum
              omnis. Alias?
          </div>

      </div>
      <div class="servicos_card">
          <img src="img/3.jpg" alt="">
          <div class="title">Titulo</div>
          <div class="desc">Essa é uma descrição
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea cum nulla debitis cupiditate recusandae
              non? Expedita vitae soluta laborum dicta quas sunt debitis ipsum, in cupiditate, dolores illum
              omnis. Alias?
          </div>

      </div>



  </div>



{% endblock %}